scene.name=3DPrinter

sim.T=4.0
sim.dt=1e-4
sim.gravity=0 0 -9.81

friction.enable=on
friction.combine=geom
friction.default_mu=1.0

output.interval_steps=10
output.heightfield_stride=8
output.write_contacts=true
output.contacts_body_vectors=false
output.folder=./vtk_out
output.filename_prefix=3DPrinter

collision.disable_all=false
collision.broadphase=dynamic_aabb
collision.match_max_dist=0.02
collision.security_margin=0.0000
collision.max_raw_contacts=120000
collision.max_patches=5000
collision.use_patch_vertices=true
collision.min_pair_contact_distance=0.001

pj.max_iterations=20000
pj.tol_abs=1e-6
pj.tol_rel=1e-6
pj.relaxation=1.0
pj.alpha=0.02
pj.compliance=1e-12
pj.nesterov=true
pj.nesterov_beta_threshold=1.0
pj.nesterov_restart_limit=10000
pj.warmstart=true

solver.name=moreau
moreau.theta=0.7
moreau.implicit_gyroscopy=false
solver.type=clarabel

constraint_bias_factor=0.002

qoco.backend=cpu
qoco.kkt_static_reg=1e-6
qoco.kkt_dynamic_reg=1e-6
qoco.iter_ref_iters=3

debug.pj=false
debug.rb=false
debug.mesh=false
