scene.name=billiard

###############################################
# Simulation settings
###############################################
sim.T=8.0
sim.dt=1e-3
sim.gravity=0 0 -9.81

###############################################
# Friction settings
###############################################
friction.enable=on
friction.combine=geom
friction.default_mu=0.02

###############################################
# Restitution settings
###############################################
restitution.default_normal=0.95
restitution.default_tangential=0.95

###############################################
# Output settings
###############################################
output.interval_steps=5
output.write_contacts=true
output.folder=./vtk_out
output.filename_prefix=billard

###############################################
# Collision settings
###############################################
collision.broadphase=dynamic_aabb
collision.match_max_dist=0.02
collision.security_margin=0.0000
collision.max_raw_contacts=1000000
collision.max_patches=10000
collision.use_patch_vertices=true
collision.min_pair_contact_distance=0.001

###############################################
# Projected Jacobi settings
###############################################
solver.type=pgs
solver.implicit_gyroscopy=false

pj.max_iterations=500000
pj.tol_abs=5e-6
pj.relaxation=1.0
pj.alpha=0.1
pj.nesterov=true
pj.chebyshev=false
pj.warmstart=true
