scene.name = chain_fountain

###############################################
# Simulation settings
###############################################
sim.T=6.0
sim.dt=2e-5
sim.gravity=0 0 -9.81

###############################################
# Friction settings
###############################################
friction.enable=on
friction.combine=geom
friction.default_mu=0.3

###############################################
# Output settings
###############################################
output.interval_steps=20
output.heightfield_stride=5
output.write_contacts = true
output.contacts_body_vectors = true
output.folder = ./vtk_out
output.filename_prefix = chain_fountain

###############################################
# Collision settings
###############################################
collision.broadphase=dynamic_aabb
collision.match_max_dist=0.02
collision.security_margin=0.0000
collision.max_raw_contacts=1000000
collision.max_patches=4
collision.use_patch_vertices=true
collision.min_pair_contact_distance=0.001

###############################################
# Projected Jacobi (normal contact) settings
###############################################
pj.max_iterations=500000
pj.tol_abs=1e-5
pj.relaxation=1.0
pj.alpha=0.1
pj.compliance=1e-12
pj.nesterov=true
pj.nesterov_beta_threshold=1.0
pj.nesterov_restart_limit=10000
pj.warmstart=true

###############################################
# Solver settings
###############################################
solver.name=moreau                     # solver type: moreau | stoermverlet
solver.type =  clarabel
moreau.theta=0.6
moreau.implicit_gyroscopy=false

clarabel.kkt_static_reg = 1e-10
clarabel.kkt_dynamic_reg = 1e-10
clarabel.iter_ref_iters = 2

###############################################
# Debug settings
###############################################
debug.pj=false
debug.rb=false
debug.mesh=false
