###############################################
# Simulation settings
###############################################
sim.T=10.0          # total simulation time (seconds)
sim.dt=1e-3        # time step (seconds)
sim.gravity=0 0 -9.81  # zero gravity for constraint test

###############################################
# Friction settings
###############################################
friction.enable=on
friction.combine=geom         # min | arith | geom
friction.default_mu=0.4       # default friction coefficient when not set on entities

###############################################
# Output settings
###############################################
output.interval_steps=50                 # write VTK every N steps
output.heightfield_stride=5              # decimation stride for heightfield VTK (>=1); larger reduces file size
output.write_contacts = true             # write contact VTK files
output.contacts_body_vectors = true      # include body-space normals/tangents/points in contacts VTK
output.folder = ./vtk_out                # output directory path
output.filename_prefix = constraintTest  # prefix for output VTK files

###############################################
# Collision settings
###############################################
collision.broadphase=dynamic_aabb
collision.match_max_dist=0.02
collision.security_margin=0.0000
collision.max_raw_contacts=1000000
collision.max_patches=10000
collision.use_patch_vertices=true
collision.min_pair_contact_distance=0.001

###############################################
# Projected Jacobi (normal contact) settings
###############################################
pj.max_iterations=500000
pj.tol_abs=5e-4
pj.relaxation=1.0
pj.alpha=0.01
pj.compliance=1e-12
pj.nesterov=true
pj.nesterov_beta_threshold=1.0
pj.nesterov_restart_limit=10000
pj.warmstart=true

###############################################
# Debug settings
###############################################
debug.pj=true
debug.rb=true
debug.mesh=false
