scene.name = stacked_spheres

###############################################
# stacked_spheres simulation settings
###############################################
sim.T=10.0                  # total simulation time (seconds)
sim.dt=5e-3                # time step (seconds)
sim.gravity=0 0 -9.81      # gravity vector gx gy gz

###############################################
# Friction settings
###############################################
friction.enable=on
friction.combine=geom
friction.default_mu=0.2

###############################################
# Output settings
###############################################
output.interval_steps=5
output.heightfield_stride=8
output.write_contacts = true
output.contacts_body_vectors = false
output.folder = ./vtk_out
output.filename_prefix = stacked_spheres

###############################################
# Collision settings
###############################################
collision.disable_all=false
collision.broadphase=dynamic_aabb
collision.match_max_dist=0.02
collision.security_margin=0.0000
collision.max_raw_contacts=300000
collision.max_patches=5000
collision.use_patch_vertices=true
collision.min_pair_contact_distance=0.001

###############################################
# Projected Jacobi (normal contact) settings
###############################################
pj.max_iterations=20000000
pj.tol_abs=5e-8
pj.relaxation=1.0
pj.alpha=0.01
pj.compliance=1e-12
pj.nesterov=true
pj.nesterov_beta_threshold=1.0
pj.nesterov_restart_limit=10000
pj.warmstart=true

###############################################
# Solver settings
###############################################
solver.name=moreau               # solver type: moreau | stoermverlet
moreau.theta=0.5
moreau.implicit_gyroscopy=true

solver.type = pj

###############################################
# Debug settings
###############################################
debug.pj=false
debug.rb=false
debug.mesh=false
