scene.name = slinky

###############################################
# Simulation settings
###############################################
sim.T=6
sim.dt=0.25e-3
sim.gravity=0 0 -9.81

###############################################
# Friction settings
###############################################
friction.enable=on
friction.combine=geom
friction.default_mu=0.3

###############################################
# Output settings
###############################################
output.interval_steps=20
output.heightfield_stride=5
output.write_contacts = true
output.contacts_body_vectors = true
output.folder = ./vtk_out
output.filename_prefix = slinky

###############################################
# Collision settings
###############################################
collision.broadphase=dynamic_aabb
collision.match_max_dist=0.02
collision.security_margin=0.0000
collision.max_raw_contacts=1000000
collision.max_patches=10000
collision.use_patch_vertices=true
collision.min_pair_contact_distance=0.001

###############################################
# Projected Jacobi (normal contact) settings
###############################################
pj.max_iterations=500000
pj.tol_abs=5e-4
pj.relaxation=1.0
pj.alpha=0.01
pj.compliance=1e-12
pj.nesterov=true
pj.nesterov_beta_threshold=1.0
pj.nesterov_restart_limit=10000
pj.warmstart=true

###############################################
# Solver settings
###############################################
solver.name=stoermverlet               # solver type: moreau | stoermverlet

###############################################
# Debug settings
###############################################
debug.pj=false
debug.rb=false
debug.mesh=false
