scene.name = slinky

###############################################
# Simulation settings
###############################################
sim.T=6
sim.dt=1e-4
sim.gravity=0 0 -9.81

###############################################
# Friction settings
###############################################
friction.enable=on
friction.combine=geom
friction.default_mu=0.2

###############################################
# Output settings
###############################################
output.interval_steps=20
output.heightfield_stride=5
output.write_contacts = true
output.contacts_body_vectors = true
output.folder = ./vtk_out
output.filename_prefix = slinky

###############################################
# Collision settings
###############################################
collision.broadphase=dynamic_aabb
collision.match_max_dist=0.02
collision.security_margin=0.0000
collision.max_raw_contacts=1000000
collision.max_patches=10000
collision.use_patch_vertices=true
collision.min_pair_contact_distance=0.001

###############################################
# Projected Jacobi (normal contact) settings
###############################################
pj.max_iterations=500000
pj.tol_abs=5e-8
pj.tol_rel=5e-8
pj.relaxation=1.0
pj.alpha=0.01
pj.compliance=1e-12
pj.nesterov=true
pj.nesterov_beta_threshold=1.0
pj.nesterov_restart_limit=10000
pj.warmstart=true

###############################################
# Solver settings
###############################################
solver.name=moreau                     # solver type: moreau | stoermverlet
moreau.theta=0.5
moreau.implicit_gyroscopy=true

solver.type=clarabel
clarabel.kkt_static_reg = 1e-10
clarabel.kkt_dynamic_reg = 1e-10
clarabel.iter_ref_iters = 2

constraint_bias_factor=0.05

###############################################
# Debug settings
###############################################
debug.pj=false
debug.rb=false
debug.mesh=false


# [Timing Breakdown - Exclusive]
# Section                      Calls     Excl(s)         %    Avg(µs)
# --------------------------------------------------------------------
# Projected Jacobi            59570029308.062427     80.13    49199.37
# Build & Factor S            595701 2759.938410      7.55     4633.09
# Collision Make Patches    52432340 2022.494851      5.53       38.57
# Narrowphase Collide     1300176330  782.725823      2.14        0.60
# Collision Broadphase       1991473  634.498510      1.73      318.61
# Rebuild Constraints         595701  325.936561      0.89      547.15
# Integration                1191401  214.683062      0.59      180.19
# Output Write                 29786  142.144782      0.39     4772.20
# DA Refresh State            595702  133.074414      0.36      223.39
# Disable Collision Pairs 1300176330   85.899027      0.23        0.07
# Collision Make Contact    52432340   81.434085      0.22        1.55
# Collision Narrowphase   1300176330   70.802629      0.19        0.05
# Collision Matching        52432340   12.091514      0.03        0.23
# --------------------------------------------------------------------
# Total (inclusive)                   36573.7861  100.0000     