scene.name=domino

###############################################
# Simulation settings
###############################################
sim.T=0.1          # total simulation time (seconds)
sim.dt=1e-3         # time step (seconds)
sim.gravity=0 0 -9.81  # gravity vector gx gy gz (space- or comma-separated). Example: sim.gravity=0,0,-9.81

###############################################
# Friction settings
###############################################
friction.enable=on
friction.combine=geom         # min | arith | geom
friction.default_mu=0.2       # default friction coefficient when not set on entities

###############################################
# Output settings
###############################################
output.interval_steps=5                 # write VTK every N steps
output.heightfield_stride=5              # decimation stride for heightfield VTK (>=1); larger reduces file size
output.write_contacts = true             # write contact VTK files
output.contacts_body_vectors = true      # when true, include body-space normals/tangents/points in contacts VTK
output.folder = ./vtk_out                # output directory path
output.filename_prefix = domino_small           #  prefix for output VTK files


###############################################
# Collision settings
###############################################
# collision.broadphase selects the COAL BroadPhase manager used to cull pairs.
# Available values:
#   dynamic_aabb         - DynamicAABBTreeCollisionManager
#   dynamic_aabb_array   - DynamicAABBTreeArrayCollisionManager
#   naive                - NaiveCollisionManager (O(N^2), for debugging)
#   sap                  - SaPCollisionManager (Sort and Prune)
#   ssap                 - SSaPCollisionManager (Multi-axis SaP)
collision.broadphase=dynamic_aabb
collision.match_max_dist=0.02               # maximum distance (in meters) to consider a current contact matched to a previous one (for warmstarting)
collision.security_margin=0.0000            # small positive margin improves robustness for rotating/thin mesh contacts
collision.max_raw_contacts=1000000          # per-pair raw contact cap requested from narrowphase
collision.max_patches=10000                 # per-pair patch cap (only relevant when using patch vertices)
collision.use_patch_vertices=true           # when true, emit patch vertices; when false, emit raw contacts
collision.min_pair_contact_distance=0.001   # dedupe contacts within the same entity pair that are closer than this (meters); 0 disables

###############################################
# Projected Jacobi (normal contact) settings
###############################################
pj.max_iterations=20000
pj.tol_abs=1e-6
pj.tol_rel=1e-5
pj.relaxation=1.0
pj.alpha=0.01
pj.compliance=1e-12
pj.nesterov=true                   # enable Nesterov acceleration for Projected Jacobi
pj.nesterov_beta_threshold=1.0     # reset momentum when beta exceeds this (0..1), higher = more aggressive
pj.nesterov_restart_limit=5000    # after this many resets in a solve, disable momentum for the remainder
pj.warmstart=true                  # enable warmstarting & caching of contact impulses across steps

###############################################
# Solver settings
###############################################
solver.name=moreau                     # solver type: moreau | stoermverlet
moreau.theta=0.5
moreau.implicit_gyroscopy=false
moreau.lambda_theta=false
solver.type=qoco

qoco.backend = cpu
qoco.kkt_static_reg = 1e-10
qoco.kkt_dynamic_reg = 1e-10
qoco.iter_ref_iters = 0

###############################################
# Debug settings
###############################################
debug.pj=false
debug.rb=false
debug.mesh=false

pj.convergence_csv_dir=domino_nesterov_warmstart_csv


# QOCO NO BISECT CUDA
# [Timing Breakdown - Exclusive]
# Section                      Calls     Excl(s)         %    Avg(µs)
# --------------------------------------------------------------------
# QOCO Setup                     100   64.105289     42.06   641052.89
# QOCO Solve                     100   50.529260     33.15   505292.60
# Collision Make Patches      754235   30.987208     20.33       41.08
# Narrowphase Collide         779097    1.440167      0.94        1.85
# Collision Make Contact      754235    1.293790      0.85        1.72
# QOCO Assembly                  100    1.231150      0.81    12311.50
# Rebuild Contacts               100    0.917533      0.60     9175.33
# Output Write                    21    0.917111      0.60    43671.97
# Collision Broadphase           201    0.363233      0.24     1807.13
# Collision Matching             100    0.344846      0.23     3448.46
# Collision Narrowphase       779097    0.169047      0.11        0.22
# DA Refresh State               200    0.062528      0.04      312.64
# Integration                    200    0.028575      0.02      142.88
# Disable Collision Pairs     779097    0.017987      0.01        0.02
# Update Entities                100    0.013952      0.01      139.52
# Rebuild Constraints            100    0.000394      0.00        3.94
# --------------------------------------------------------------------
# Total (inclusive)                     152.4221  100.0000  

# QOCO NO BISECT CPU
# [Timing Breakdown - Exclusive]
# Section                      Calls     Excl(s)         %    Avg(µs)
# --------------------------------------------------------------------
# QOCO Solve                     100  974.529993     95.87  9745299.93
# Collision Make Patches      754242   30.696595      3.02       40.70
# QOCO Setup                     100    5.149614      0.51    51496.14
# Narrowphase Collide         779065    1.378631      0.14        1.77
# Collision Make Contact      754242    1.252607      0.12        1.66
# QOCO Assembly                  100    0.992855      0.10     9928.55
# Output Write                    21    0.926198      0.09    44104.66
# Rebuild Contacts               100    0.652196      0.06     6521.96
# Collision Broadphase           201    0.357891      0.04     1780.55
# Collision Matching             100    0.330265      0.03     3302.65
# Collision Narrowphase       779065    0.166544      0.02        0.21
# DA Refresh State               200    0.061267      0.01      306.34
# Integration                    200    0.028674      0.00      143.37
# Disable Collision Pairs     779065    0.017613      0.00        0.02
# Update Entities                100    0.013776      0.00      137.76
# Rebuild Constraints            100    0.000322      0.00        3.22
# --------------------------------------------------------------------
# Total (inclusive)                    1016.5550  100.0000 

# QOCO Solve                     100  806.867958     95.63  8068679.58
# QOCO Solve                     100  832.717404     95.73  8327174.04

# QOCO BISECT CUDA
# [Timing Breakdown - Exclusive]
# Section                      Calls     Excl(s)         %    Avg(µs)
# --------------------------------------------------------------------
# QOCO Setup                     100   63.678391     42.28   636783.91
# QOCO Solve                     100   50.233040     33.35   502330.40
# Collision Make Patches      754234   30.068444     19.96       39.87
# Narrowphase Collide         779098    1.332204      0.88        1.71
# QOCO Assembly                  100    1.329257      0.88    13292.57
# Collision Make Contact      754234    1.228876      0.82        1.63
# Output Write                    21    0.940361      0.62    44779.12
# Rebuild Contacts               100    0.844117      0.56     8441.17
# Collision Broadphase           201    0.352110      0.23     1751.79
# Collision Matching             100    0.345369      0.23     3453.69
# Collision Narrowphase       779098    0.152504      0.10        0.20
# DA Refresh State               200    0.061473      0.04      307.36
# Integration                    200    0.028328      0.02      141.64
# Disable Collision Pairs     779098    0.019020      0.01        0.02
# Update Entities                100    0.015016      0.01      150.16
# Rebuild Constraints            100    0.000382      0.00        3.82
# --------------------------------------------------------------------
# Total (inclusive)                     150.6289  100.0000

# QOCO BISECT CPU
#[Timing Breakdown - Exclusive]
#Section                      Calls     Excl(s)         %    Avg(µs)
#--------------------------------------------------------------------
#QOCO Solve                     100  933.106321     95.82  9331063.21
#Collision Make Patches      754242   29.843065      3.06       39.57
#QOCO Setup                     100    4.969845      0.51    49698.45
#Narrowphase Collide         779065    1.286777      0.13        1.65
#Collision Make Contact      754242    1.164637      0.12        1.54
#QOCO Assembly                  100    0.988994      0.10     9889.94
#Output Write                    21    0.877710      0.09    41795.72
#Rebuild Contacts               100    0.608267      0.06     6082.67
#Collision Broadphase           201    0.347842      0.04     1730.56
#Collision Matching             100    0.323724      0.03     3237.24
#Collision Narrowphase       779065    0.152835      0.02        0.20
#DA Refresh State               200    0.060820      0.01      304.10
#Integration                    200    0.028544      0.00      142.72
#Disable Collision Pairs     779065    0.017684      0.00        0.02
#Update Entities                100    0.012933      0.00      129.33
#Rebuild Constraints            100    0.000300      0.00        3.00
#--------------------------------------------------------------------
#Total (inclusive)                     973.7903  100.0000    

# QOCO Solve                     100  835.485769     95.71  8354857.69
# QOCO Solve                     100  836.288448     95.68  8362884.48

# CLARABEL
# [Timing Breakdown - Exclusive]
# Section                      Calls     Excl(s)         %    Avg(µs)
# --------------------------------------------------------------------
# Clarabel Solve                 100 1287.461244     96.28 12874612.44
# Collision Make Patches      754250   29.686839      2.22       39.36
# Clarabel Setup                 100   14.223852      1.06   142238.52
# Narrowphase Collide         779084    1.305937      0.10        1.68
# Collision Make Contact      754250    1.163425      0.09        1.54
# Clarabel Assembly              100    0.967042      0.07     9670.42
# Output Write                    21    0.866187      0.06    41246.98
# Rebuild Contacts               100    0.646722      0.05     6467.22
# Collision Broadphase           201    0.348761      0.03     1735.13
# Collision Matching             100    0.322285      0.02     3222.85
# Collision Narrowphase       779084    0.160407      0.01        0.21
# DA Refresh State               200    0.061370      0.00      306.85
# Integration                    200    0.028497      0.00      142.48
# Disable Collision Pairs     779084    0.017474      0.00        0.02
# Update Entities                100    0.013507      0.00      135.07
# Rebuild Constraints            100    0.000396      0.00        3.96
# --------------------------------------------------------------------
# Total (inclusive)                    1337.2739  100.0000   

# Projected Jacobi (Nesterov, warmstarting)
# [Timing Breakdown - Exclusive]
# Section                      Calls     Excl(s)         %    Avg(µs)
# --------------------------------------------------------------------
# Projected Jacobi               100  173.312402     83.20  1733124.02
# Collision Make Patches      755963   29.418343     14.12       38.92
# Narrowphase Collide         779679    1.446733      0.69        1.86
# Collision Make Contact      755963    1.164269      0.56        1.54
# Output Write                    21    0.869726      0.42    41415.52
# Rebuild Contacts               100    0.841861      0.40     8418.61
# Collision Broadphase           201    0.353621      0.17     1759.31
# Collision Matching             100    0.328644      0.16     3286.44
# Build & Factor S               100    0.299806      0.14     2998.06
# Collision Narrowphase       779679    0.158268      0.08        0.20
# DA Refresh State               200    0.060399      0.03      302.00
# Integration                    200    0.028162      0.01      140.81
# Disable Collision Pairs     779679    0.017668      0.01        0.02
# Update Entities                100    0.013365      0.01      133.65
# Rebuild Constraints            100    0.000334      0.00        3.34
# --------------------------------------------------------------------
# Total (inclusive)                     208.3136  100.0000     