scene.name=domino

###############################################
# Simulation settings
###############################################
sim.T=20.0          # total simulation time (seconds)
sim.dt=1e-3         # time step (seconds)
sim.gravity=0 0 -9.81  # gravity vector gx gy gz (space- or comma-separated). Example: sim.gravity=0,0,-9.81

###############################################
# Friction settings
###############################################
friction.enable=on
friction.combine=geom         # min | arith | geom
friction.default_mu=0.2       # default friction coefficient when not set on entities

###############################################
# Output settings
###############################################
output.interval_steps=25                 # write VTK every N steps
output.heightfield_stride=5              # decimation stride for heightfield VTK (>=1); larger reduces file size
output.write_contacts = true             # write contact VTK files
output.contacts_body_vectors = true      # when true, include body-space normals/tangents/points in contacts VTK
output.folder = ./vtk_out                # output directory path
output.filename_prefix = domino           #  prefix for output VTK files


###############################################
# Collision settings
###############################################
# collision.broadphase selects the COAL BroadPhase manager used to cull pairs.
# Available values:
#   dynamic_aabb         - DynamicAABBTreeCollisionManager
#   dynamic_aabb_array   - DynamicAABBTreeArrayCollisionManager
#   naive                - NaiveCollisionManager (O(N^2), for debugging)
#   sap                  - SaPCollisionManager (Sort and Prune)
#   ssap                 - SSaPCollisionManager (Multi-axis SaP)
collision.broadphase=dynamic_aabb
collision.match_max_dist=0.02               # maximum distance (in meters) to consider a current contact matched to a previous one (for warmstarting)
collision.security_margin=0.0000            # small positive margin improves robustness for rotating/thin mesh contacts
collision.max_raw_contacts=1000000          # per-pair raw contact cap requested from narrowphase
collision.max_patches=10000                 # per-pair patch cap (only relevant when using patch vertices)
collision.use_patch_vertices=true           # when true, emit patch vertices; when false, emit raw contacts
collision.min_pair_contact_distance=0.001   # dedupe contacts within the same entity pair that are closer than this (meters); 0 disables

###############################################
# Projected Jacobi (normal contact) settings
###############################################
solver.type = pj
solver.implicit_gyroscopy=true

pj.max_iterations=500000
pj.tol_abs=5e-6
pj.relaxation=1.0
pj.alpha=0.01
pj.compliance=1e-12
pj.nesterov=false                   # enable Nesterov acceleration for Projected Jacobi
pj.chebyshev = true
pj.nesterov_beta_threshold=1.0     # reset momentum when beta exceeds this (0..1), higher = more aggressive
pj.nesterov_restart_limit=5000    # after this many resets in a solve, disable momentum for the remainder
pj.warmstart=true                  # enable warmstarting & caching of contact impulses across steps

###############################################
# Debug settings
###############################################
debug.pj=true
debug.rb=false
debug.mesh=false


# [Timing Breakdown - Exclusive]
# Section                      Calls     Excl(s)          %       Avg(µs)
# ------------------------------------------------------------------------
# Projected Jacobi              6105 672402.869839     97.68 110139700.22
# Collision Make Patches   350480813  13618.067307      1.98        38.86
# Narrowphase Collide      820582606   1099.170803      0.16         1.34
# Collision Make Contact   350480813    562.521519      0.08         1.60
# Collision Broadphase         12213    240.523781      0.03     19694.08
# Collision Matching       350480813    129.720998      0.02         0.37
# Collision Narrowphase    820582606    100.491988      0.01         0.12
# Output Write                   245     75.355805      0.01    307574.71
# Build & Factor S              6106     53.305475      0.01      8730.02
# DA Refresh State              6107     31.718465      0.00      5193.79
# Disable Collision Pairs  820582606     17.917505      0.00         0.02
# Integration                  12211      9.294235      0.00       761.14
# Rebuild Constraints           6106      0.482810      0.00        79.07
# ------------------------------------------------------------------------
# Total (inclusive)                  688341.4405      100.0000