###############################################
# Tube scene configuration
###############################################
scene.name=tube
sim.T=0.5
sim.dt=5e-4
sim.gravity=0 0 0

###############################################
# Friction settings
###############################################
friction.enable=on
friction.combine=geom
friction.default_mu=0.5

###############################################
# Output settings
###############################################
output.interval_steps=5
output.heightfield_stride=8
output.write_contacts=true
output.contacts_body_vectors=false
output.folder=./vtk_out
output.filename_prefix=tube

###############################################
# Collision settings
###############################################
collision.broadphase=dynamic_aabb
collision.match_max_dist=0.02
collision.security_margin=0.0

###############################################
# Projected Jacobi solver settings
###############################################
pj.max_iterations=50000
pj.tol_abs=1e-10
pj.tol_rel=1e-10
pj.relaxation=1.0
pj.alpha=0.5
pj.compliance=0.0
pj.nesterov=true
pj.warmstart=true

solver.type=pj
qoco.backend= cpu

qoco.kkt_static_reg = 1e-8
qoco.kkt_dynamic_reg = 1e-8
qoco.iter_ref_iters = 2


###############################################
# Debug settings
###############################################
debug.pj=false
debug.rb=false
