scene.name = unilateral

###############################################
# Simulation settings
###############################################
sim.T=10.0
sim.dt=1e-4
sim.gravity=0 0 -9.81

###############################################
# Solver settings
###############################################
solver.name=moreau
moreau.theta=0.5

###############################################
# Contact / friction
###############################################
friction.enable=on
friction.default_mu=1

###############################################
# Output settings
###############################################
output.interval_steps=50
output.write_contacts=false
output.folder=./vtk_out
output.filename_prefix=unilateral

###############################################
# Collision settings
###############################################
collision.broadphase=dynamic_aabb
collision.security_margin=0.0
collision.match_max_dist=0.02
collision.max_raw_contacts=1024
collision.max_patches=4
collision.use_patch_vertices=true
collision.min_pair_contact_distance=0.0

###############################################
# Projected Jacobi (contact) settings
###############################################
pj.max_iterations=200000
pj.tol_abs=1e-6
pj.relaxation=0.9
pj.alpha=0.3
pj.nesterov=false
pj.warmstart=true

###############################################
# Debug settings
###############################################
debug.pj=false
debug.rb=false
debug.mesh=false
