scene.name = chain

###############################################
# R scene configuration
###############################################
sim.T=50.0
sim.dt=5e-4
sim.gravity=0 0 -9.81

# Friction: enable and set a high coefficient for the rod-floor interaction
friction.enable=on
friction.combine=geom
friction.default_mu=0.2

# Output settings (keep small files for quick interactive testing)
output.interval_steps=100
output.heightfield_stride=8
output.write_contacts=true
output.contacts_body_vectors=false
output.folder=./vtk_out
output.filename_prefix=chain

# Collision settings
collision.broadphase=dynamic_aabb
collision.match_max_dist=0.02
collision.security_margin=0.0
collision.security_margin=0.0000            # small positive margin improves robustness for rotating/thin mesh contacts
collision.max_raw_contacts=1000000          # per-pair raw contact cap requested from narrowphase
collision.max_patches=16                 # per-pair patch cap (only relevant when using patch vertices)
collision.min_pair_contact_distance=0.001   # dedupe contacts within the same entity pair that are closer than this (meters); 0 disables

# Projected Jacobi solver settings (defaults tuned for stability)
pj.max_iterations=500000
pj.tol_abs=5e-5
pj.relaxation=1.0
pj.alpha=0.075
pj.compliance=1e-12
pj.nesterov=true
pj.warmstart=true

# Debug
debug.pj=false
debug.rb=false

# Selected scene: chain
# Simulating 100%|██████████████████████████████████████████████████ | 100000/100000 [485:39<00:00, 3.43 it/s]
#
# [Timing Breakdown - Exclusive]
# Section                      Calls     Excl(s)         %    Avg(µs)
# --------------------------------------------------------------------
# Projected Jacobi            10000019327.800332     66.33   193278.00
# Narrowphase Collide       45320842 8522.492125     29.25      188.05
# Collision Make Patches    23715100 1004.380350      3.45       42.35
# Other                            0  138.103875      0.47        0.00
# Collision Make Contact    23715100  100.758398      0.35        4.25
# Collision Narrowphase     45320842   10.054267      0.03        0.22
# Collision Matching        23715100    9.536012      0.03        0.40
# Collision Broadphase        200001    7.361056      0.03       36.81
# Build & Factor S            100000    6.563477      0.02       65.63
# Output Write                  1001    5.633979      0.02     5628.35
# DA Refresh State            100001    3.027963      0.01       30.28
# Integration                 200000    1.198214      0.00        5.99
# Disable Collision Pairs   45320842    1.090270      0.00        0.02
# Rebuild Constraints         100000    0.879332      0.00        8.79
# --------------------------------------------------------------------
# Total (inclusive)                   29138.8796  100.0000         