scene.name=tennis

sim.T=0.1
sim.dt=1e-5
sim.gravity=0 0 0

friction.enable=on
friction.combine=geom
friction.default_mu=0.45

output.interval_steps=2
output.heightfield_stride=8
output.write_contacts=true
output.contacts_body_vectors=false
output.folder=./vtk_out
output.filename_prefix=tennis

collision.disable_all=false
collision.broadphase=dynamic_aabb
collision.match_max_dist=0.02
collision.security_margin=0.0
collision.max_raw_contacts=120000
collision.max_patches=5000
collision.use_patch_vertices=true
collision.min_pair_contact_distance=0.001

pj.max_iterations=40000
pj.tol_abs=1e-8
pj.tol_rel=1e-8
pj.relaxation=1.0
pj.alpha=0.02
pj.compliance=1e-12
pj.nesterov=true
pj.nesterov_beta_threshold=1.0
pj.nesterov_restart_limit=10000
pj.warmstart=true

solver.name=moreau
moreau.theta=0.55
moreau.implicit_gyroscopy=false
solver.type=clarabel

constraint_bias_factor=0.00001

debug.pj=false
debug.rb=false
debug.mesh=false
